{% extends "layout.html" %}
{% block body %}
<section><center><h1>Describe what you would like to learn</h1>
  <p> example: I want to learn more about Asian Culture.</p>
<!-- need to work on css/stylesheets -->
 
<!-- add UBC image. -->

<!-- <div> -->
  <!-- <img src="/Users/sumitmeghlani/Documents/hackathons/web_app/LearningAnalyticsHackathon/web/templates/images/UBC-logo-full.png"> -->
<!-- </div> -->

<div class="ui-widget">
    <!-- <label for="tags">Faculty: </label> -->
    <input id="Faculty" name="Faculty" placeholder="Faculty:">
    <input autocomplete="off" autofocus id= "Sentence" name="Sentence" placeholder="Description" type="text">
</div>
</center>
</section>
 
<script>
    $( function() {
        var availableTags = [
        'LAND AND FOOD SYSTEMS',
        'ARTS',
        'EDUCATION',
        'MEDICINE',
        'SCIENCE',
        'FORESTRY',
        'APPLIED SCIENCE',
        'PHARMACEUTICAL SCIENCES',
        'SCHOOL OF ARCHITECTURE & LANDSCAPE ARCHITECTURE',
        'SCHOOL OF AUDIOLOGY & SPEECH SCIENCES',
        'SCHOOL OF BIOMEDICAL ENGINEERING',
        'COMMERCE & BUSINESS ADMINISTRATION',
        'DENTISTRY',
        'VANCOUVER SCHOOL OF ECONOMICS',
        'SCHOOL OF JOURNALISM',
        'SCHOOL OF MUSIC',
        'SCHOOL OF NURSING',
        'SCHOOL OF COMMUNITY & REGIONAL PLANNING',
        'VANTAGE COLLEGE'
        ];
        $( "#Faculty" ).autocomplete({
          source: availableTags
        });
      } );
    </script>
{% endblock %}
