{% extends "layout.html" %}

{% block title %}
<h1> The recommended courses </h1>
{% endblock %}

<!-- taking in the dictionary as an input from applcation.py-->

{% block body %}
{# note: update code structure, if the input is a JSON object, and if this dosent work #}
    <ol>
        {% for content in matching_courses %}
        <li>
            <!-- Course Title -->
            <h1>{{content.course_title}}</h1>
            <!-- Course Code -->
            <h2> {{content.course_code}} </h2>
            <!-- Course faculty -->
            <h4> {{content.faculty}}</h4>
            <!-- Course Prerequisites -->
            <h5>{{content.pre_requisites}}</h5>
            <!-- Course data -->
            <h3> {{content.description}}</h3>
            <!-- Course Credits-->
            <h5>{{content.credits}}</h5>
            <!-- table -->
            <h2>Statistics</h2>
                <table style="width: 100%">
                    <tr>
                        <th>Max</th>
                        <th>Average</th>
                        <th>Min</th>
                        <th>standard deviation</th>
                    </tr>
                    <tr>
                        <td>{{content.max}}</td>
                        <td>{{content.avg}}</td>
                        <td>{{content.min}}</td>
                        <td>{{content.sd}}</td>
                    </tr>
                </table>

            <!-- Course distribution //note: look into chart.js//-->
            <!-- Implement the figures created by Jarvis -->
            <!-- <img> {{content.png}} </img> -->
        </li>
        {% endfor %}
    </ol>
{% endblock %}