{% extends "layout.html" %}

{% block title %}
<h1> The recommended courses </h1>
{% endblock %}

<!-- taking in the dictionary as an input from applcation.py-->

{% block body %}
{# note: update code structure, if the input is a JSON object, and if this dosent work #}
    <ol>
        {% for content in matching_courses %}
        <li>
            <table style="width: 100%" class="table">
                <!-- Course Title -->
            <h1>{{content.course_title}}</h1>
            <!-- Course data -->
            <h3> {{content.description}}</h3>
            <thead class="thead-dark">
                <!-- Course Code -->
                <th scope="col"> {{content.course_code}} </th>
                <!-- Course faculty -->
                <th scope="col"> Faculty: {{content.faculty}}</th>
                <!-- Course Prerequisites -->
                <th scope="col">Prerequisites: {{content.pre_requisites}}</th>
                <!-- Course Credits-->
                <th scope="col">{{content.credits}}</th>
            </thead>
        </table>
        <table style="width: 100%" class="table">
            <!-- table -->
            <h2>Statistics</h2>
               
                    <tr>
                        <th>Max</th>
                        <th>Average</th>
                        <th>Min</th>
                        <th>standard deviation</th>
                    </tr>
                    <tr>
                        <td>{{content.max}}</td>
                        <td>{{content.avg}}</td>
                        <td>{{content.min}}</td>
                        <td>{{content.sd}}</td>
                    </tr>
                </table>

            <!-- Course distribution //note: look into chart.js//-->
            <!-- Implement the figures created by Jarvis -->
            <!-- <img> {{content.png}} </img> -->
        </li>
        {% endfor %}
    </ol>
{% endblock %}